<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Security</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a routerLink="/fileselect">Home</a></li>
        <!-- <li><a [routerLink]="">Adout us</a></li>
        <li><a [routerLink]="">contact us</a></li> -->
        <li class="active"><a routerLink="/download">Download</a></li>
      </ul>
    </div>
  </nav>
  <div style="text-align:center">
    <h1>
      Download Process
    </h1>
    <h3>Enter the Product key that was given earlier and <br>Record your voice by saying atleast "Hello".</h3><br>
    <div class="row">
        <input type="text" name="productkey" [(ngModel)]="productkey" id="productkey" placeholder="Product key">
    </div>
    <br>
    <a (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"> Start Recording </a>
      <a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
      <div class="clearfix"></div>
      <audio controls="" *ngIf="url">
          <source [src]="sanitize(url)" type="audio/wav">
      </audio>
  
  </div>
  <br>
  <button type="submit"(click)="downloadsecurity()" class="btn btn-success btn-lg btn-block">Submit</button>
  
