<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Security</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/fileselect">Home</a></li>
        <!-- <li><a [routerLink]="">Adout us</a></li>
        <li><a [routerLink]="">contact us</a></li> -->
        <li><a routerLink="/download">Download</a></li>
      </ul>
    </div>
  </nav>

  
  <div style="text-align:center">
    <h1>
      Welcome to Payment Process
    </h1>
    
  
    <a (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"> Start Recording </a>
      <a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
      <div class="clearfix"></div>
      <audio controls="" *ngIf="url">
          <source [src]="sanitize(url)" type="audio/wav">
      </audio>
  
  </div>
  <p></p>
  <button type="submit"(click)="getaudio()" class="btn btn-success btn-lg btn-block">submit</button>
  <p></p>
  <p style="color:red;font:20px">{{productkey}}</p>